

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;

    margin: 2rem 0;
}


.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}