

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    margin: 3rem 0;
}


.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.Mapcontainer {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;

    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(1,auto);
    }

}

.employeeAssign {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}