


.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);


    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1,1fr);
    }

    max-height: 50vh;
    overflow-y: scroll;

    margin: 2rem 0;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}