


.listDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 1rem;
}


.buttonGroup {
    display: flex;
    border: none;
    box-shadow: none;
    margin-bottom: 2rem;
    flex-direction: column;
}