.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  // @media only screen and (max-width: 1000px) {
  //     grid-template-columns: repeat(2,1fr);
  // }
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // max-height: 50vh;
  // overflow-y: scroll;

  margin: 0rem 0;

  gap: 0.2rem;

  li {
    justify-content: flex-start;
    padding: 0.1rem;
    span {
      font-size: 0.8rem;
    }
  }

  //   .placeElement:nth-child(4n + 4) {
  //     border-bottom: 1px solid black;
  //   }
}

.placeElement {
  border-bottom: 1px solid rgb(86, 86, 86);
  margin-top: 0.5rem;
  cursor: pointer;
}

.placeElementEven {
  border-top: 1px solid rgb(86, 86, 86);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}


.availablePlace {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.contentSpan {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  gap: 0.4rem;
  border: 1px solid rgb(86, 86, 86);
}

.MainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}